<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.Mupen64Plus</string>
	<key>Core Version</key>
	<string>2.5.1</string>
	<key>Name</key>
	<string>OESpecialState_quick</string>
	<key>ROM MD5</key>
	<string>e19398a0fd1cc12df64fca7fbcaa82cc</string>
	<key>Timestamp</key>
	<date>2016-07-19T01:44:21Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
